/**** General Style ****/

* {
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
}

body {
    font-family: "Helvetica", sans-serif;
}

a {
    text-decoration: none;
}

h1, h2 {

   font-family: "Didot", serif; 
}
  
.container {
  display: flex;
  justify-content: center;
}
  
h2 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
}

.sub-headline {
    font-family: "Didot", serif;
    font-weight: 300;
    font-size: 1rem;
}

h3 {
    text-transform: uppercase;
    font-size: 0.7rem;
}

hr {
    background-color: grey;
    height: 2px;
    margin: 1rem auto;
    width: 50px;
}

p {
  font-size: 0.8rem;
  font-weight: 100;
  line-height: 1.4;
  letter-spacing: 1px;
}


button {
  border: 1px solid #00c9c2;
  padding: 10px;
  background-color: transparent;
  color: #00c9c2;
}

/* header section  */

header {
  background-image: url("img/bgk-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 170px;
}

.logobox {
  display: flex;
  align-items: center;
}

.logo-text {
  background-image: linear-gradient(90deg, #00c9c2, #00a8d0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 100;
  font-size: 30px;
  margin-left: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  padding: 10px;
}

.header-list {
  margin-left: 280px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  flex-grow: 1;
  list-style: none;
  margin: 0 auto;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  max-width: 600px;
}

.title {
  text-align: center;
}

.title h1 {
  color: white;
  margin-top: 100px;
  margin-bottom: 25px;
}

.title hr {
  width: 40px;
  height: 1px;
  border: 5px;
  margin: auto;
  background-color: #00c9c2;
}

.title p {
  color: white;
  font-weight: 10;
  margin: 25px;
}

.home-button {
  color: #00c9c2;
}

.nav-link-button {
  color: white;
  margin: 0 0.5rem;
}

#learn-more {
  color: #00c9c2;
}

#learn-more a:visited {
  color: #00c9c2;
}

  /* main section */




  /* story section  */

#our-story {
  display: flex;
  align-content: space-around;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}

#our-story > div {
    max-width: 960px;
}

.story img {
  padding: 50px 0px;
}

.story-text {
    text-align: left;
    font-size: 0.9rem;
    margin-top: 50px;
    margin-left: 90px;

}

.story-text h2 {
    text-align: left;
}

.story-text p {
    text-align: left;
}




  /* video section  */
  
#video {
    background-image: url("img/bgk-middle.png");
    background-size: cover;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#video img {
    max-width: 103px; 
    margin-bottom: 1rem;
}

#video h3 {
    color: white;
}



  /* expertise section */


#expertise {
    padding: 80px 0;
}

.expertise-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3rem;
    max-width: 960px;
}

.expertise-elements {
    text-align: center;
    width: 220px;
    padding: 1.3rem; 
}

.expertise-elements img {
    height: 38px;
}

.expertise-elements h3 {
    margin-top: 1rem;
}

.expertise-elements p {
    font-size: 0.8rem;
    font-weight: 100;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-top: 1rem;
}


/******* different classes to style the borders for the grid ******/

@media (max-width: 524px) {
    .element1 {
        border-bottom: 1px solid rgb(207, 206, 206);
        border-right: 1px solid white;
    }
    
    .element2 {
        border-bottom: 1px solid rgb(207, 206, 206);
    }
    
    .element3 {
        border-bottom: 1px solid rgb(207, 206, 206);
        border-right: 1px solid white;
    }
    
    .element4 {
        border-bottom: 1px solid rgb(207, 206, 206);
    }
    
    .element5 {
        border-bottom: 1px solid rgb(207, 206, 206);
        border-right: 1px solid white;

    }


}


@media (max-width: 800px) and (min-width: 525px) {
    .element1 {
        border-right: 1px solid rgb(207, 206, 206);
        border-bottom: 1px solid rgb(207, 206, 206);
    }
    
    .element2 {
        border-bottom: 1px solid rgb(207, 206, 206);
    }
    
    .element3 {
        border-right: 1px solid rgb(207, 206, 206);
        border-bottom: 1px solid rgb(207, 206, 206);
    }
    
    .element4 {
        border-bottom: 1px solid rgb(207, 206, 206);
    }
    
    .element5 {
        border-right: 1px solid rgb(207, 206, 206);
    }

}

@media (min-width: 800px) {
    .element1 {
        border-right: 1px solid rgb(207, 206, 206);
        border-bottom: 1px solid rgb(207, 206, 206);
    }

    .element2 {
        border-right: 1px solid rgb(207, 206, 206);
        border-bottom: 1px solid rgb(207, 206, 206);
    }

    .element3 {
        border-bottom: 1px solid rgb(207, 206, 206);
    }

    .element4 {
        border-right: 1px solid rgb(207, 206, 206);
    }

    .element5 {
        border-right: 1px solid rgb(207, 206, 206);
    }
}


/* team section  */

  
#team {
    background-image: url('img/bgk-header.png');
    background-size: cover;
    height: 520px;
    color: white;
    padding: 3rem;
}

#team hr {
    background-color: #00c9c2;
}

.photos {
    max-width: 960px;
    margin: 3rem auto;
    flex-wrap: wrap;
}

.photo-box {
    color: white;
    margin: 0 0.5rem;
    border: 1px solid grey;
}

.photo-box p {
    font-size: 0.7rem;
    font-weight: 100;
    margin: 0.5rem 0 0.8rem 0;
}

.photo-placeholder {
    width: 200px;
    height: 210px;
    background: white;
    margin-bottom: 1rem;
}

#team button {
    margin-top: 2rem; 
}

/********** contact section  **********/

#contact {
  margin: 0 auto;
  padding-bottom: 70px;
  padding-top: 100px;
  max-width: 960px;
  text-align: left;  
}

#contact h2,
#contact form {
  text-align: left;
}

#give-us-contact,
#give-us-clients {
  width: 50%;
}

#give-us-contact {
  margin-right: 100px;
  text-align: left;
}

#give-us-contact form {
  width: 100%;
  padding-right: 100px;
}

#give-us-contact input {  
  background-color: transparent;
  margin-bottom: 22px;
  height: 45px;
}

#give-us-contact input,
#give-us-contact textarea {
  border: 1px solid #e5e5e5;
  color: #e5e5e5;
  text-align: left;
  width: 100%;
}

#give-us-contact textarea {
  height: 205px;
}

#give-us-contact button {
    margin: 10px;
}

#give-us-contact ::placeholder {
  color: #e5e5e5;
  padding: 22px;
}

#logos-left, #logos-right {
  margin-right: 80px;
  flex-direction: column;
  align-items: center;
}

#client-logos {
    justify-content: flex-start;
}

#client-logos img {
  display: block;
  margin-top: 45px;
}

.logo-big {
  width: 160px;
}


/********* footer section  **********/

footer {
  background: url("./img/bgk-footer.png");
  background-size: cover;
  color: white;
  padding-top: 70px;
}

.footer-top,
.footer-bottom {
  max-width: 960px;
  margin: 0 auto;
}

.footer-top section {
  width: 100%;
  margin: 0 10px;
}

.footer-top p {
  text-align: left;
}

.footer-bottom {    
  margin-top: 77px;
  padding-bottom: 70px;
}

.footer-bottom nav {
  flex-grow: 2;
}

.footer-bottom li {
  padding-right: 32px;
}

footer ul {
  list-style: none;
}

footer h3 {
  margin-bottom: 40px;
  text-align: left;
}

footer p {
  line-height: 30px;
  font-weight: 100;
}

.footer-menu ul{
  justify-content: left;
}

#logo-footer {
  justify-content: left;
  align-items: center;
}

#logo-footer img {
  position: relative;
  top: -20px;
}

#logo-footer p,
#logo-footer span {
  margin-left: 10px;
}

#newsletter-form input {
  border: 1px solid #9d95af;    
}

#email-newsletter {
  background-color: transparent;
  width: 210px;
}

#btn-newsletter {
  background: url("./img/paper122.png") no-repeat center;
  background-size: 25px 25px;
  height: 44px;
  width: 70px;
  background-color: white;
  opacity: 0.5;
  margin-left: 10px;
}

#newsletter-form {
  display: flex;
}

#social-networks{
  justify-content: left;
  margin-top: 27px;
}

#social-networks li {
  padding-right: 8px;
}

#our-studio img {
  position: relative;
  top: 3px;
  margin-right: 15px;
  height: 21px;
}